body {
    background: #628395;
    text-align: center;
    font-family: 'Gelasio', serif; 
    margin: 30px 100px;
    min-width: 500px;   
}


.h1Style {
    color: black;
    display: block;
    box-shadow: 0 5px 10px rgb(43, 47, 51);
    border-radius: 5px;
    border: 5px solid black;
}

.h2, .h3, .h1Style {
    background-color: #DBAD6A;
    
    
}

.h2, .h3 {
    margin: 0;
    padding: 5px;
}
